@{
    ViewData["Title"] = "Inicio";
}
<link rel="stylesheet" href="~/css/Home/index.css">
<h1>Gestión de Propiedades</h1>

<div class="mt-3">
    <a class="btn btn-primary" asp-controller="Propietario" asp-action="Index">Gestionar Propietarios</a>
    <a class="btn btn-secondary" asp-controller="Inquilino" asp-action="Index">Gestionar Inquilinos</a>
    <a class="btn btn-success" asp-controller="Inmueble" asp-action="Index">Gestionar Inmuebles</a>
    <a class="btn btn-warning" asp-controller="Contrato" asp-action="Index">Gestionar Contratos</a>
    <a class="btn btn-info" asp-controller="Pago" asp-action="Index">Gestionar Pagos</a>
</div>
