@{
    ViewData["Title"] = "Inicio";
}
<h1>Gestión de Propiedades</h1>
<div>
    <a class="btn btn-primary" asp-controller="Propietario" asp-action="Index">Gestionar Propietarios</a>
    <a class="btn btn-secondary" asp-controller="Inquilino" asp-action="Index">Gestionar Inquilinos</a>
</div>
