@model inmobiliariaNortonNoe.Models.TipoInmueble
@{
    ViewData["Title"] = "Crear Tipo de Inmueble";
}
<h2>Crear Tipo de Inmueble</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" required />
        <span asp-validation-for="Nombre" class="text-danger"></span>
        <label asp-for="Descripcion"></label>
        <input asp-for="Descripcion" class="form-control" required />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
